<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% @post.categories.each do |category| %>
    <%= category.name %><br>
<% end %>

<input name="post[categories_attributes][0][name]" id="post_categories_attributes_0_name">